#shareCommands{
	padding:5px; 
	background-color:#f9f9f9; 
	border:1px solid #e2e2e2;
	height:88px;
}
#shareCommands ul{
	list-style:none;
}
#shareCommands ul li{
	padding:5px;
	width:30px;
	text-align:center;
	float:left;
	margin-right:2px;
	background-color:#EEE;
	font-weight:bold;
}