body {
	font-family: Tahoma;
	font-size: 11px;
	color: #000000;
	margin-bottom:5px;
	margin-left:0px;
	margin-right:0px;
	margin-top:5px;
	background-color:#356cb2;
	background-image:url(../images/bg.jpg);
	background-repeat:repeat-x;}
a:link, a:visited {
	text-decoration: none;
	color: #003663;
	text-decoration:none;
	color:#175796;
}
a:hover {
	text-decoration: underline;
	color: #53a8fc;
}
a:active {
	text-decoration: none;
	color: #FF0000;
}
a.menu0:link, a.menu0:visited,a.menu0:active {
	text-decoration: none;
	color: #ffffff;
	font-weight:bold;
}
a.menu0:hover {
	text-decoration: underline;
	color: #ffffff;
}a.menu1:link, a.menu1:visited,a.menu1:active {
	text-decoration: none;
	color: #ff3300;
	font-weight:bold;
}
a.menu1:hover {
	text-decoration: underline;
	color: #53a8fc;
}a.menu2:link, a.menu2:visited,a.menu2:active {
	text-decoration: none;
	color: #ff3300;
	font-weight:bold;
}
a.menu2:hover {
	text-decoration: underline;
	color: #53a8fc;
}a.menu_selected:link, a.menu_selected:visited,a.menu_selected:active {
	text-decoration: none;
	color: #FF00ff;
	font-weight:bold;
	background-color:#dddddd;
	background-image:url(../images/sum_blue.gif);
	background-repeat:no-repeat;
	padding-left:15px;
	background-position:5px 5px;
	padding-right:15px;
	padding-top:5px;
	padding-bottom:5px;
	margin-bottom:2px;
	margin-top:2px;
}
a.menu_selected:hover {
	text-decoration: underline;
	color: #53a8fc;
}
a.home_news_title:hover{
	text-decoration:underline;
}.bold{
	font-weight:bold;
}.black{
	color:#000000;
}.red{
	color:#FF0000;
}.white{
	color:#FFFFFF;
}.border_talbar{
	border:1px solid #dddddd;
}.price{
	color:#f7941c;
	font-weight:bold;
	font-size:14px;
}.old_price{
	text-decoration:line-through;
}
#loading {
	position:absolute;
	left:401px;
	top:343px;
	width:261px;
	height:50px;
	z-index:1;
	border:1px solid #DDDDDD;
	background-color:#eeeeee;
	visibility:hidden;
}

/*send to friend start*/
#send2Friend{
	display:none;
	width:200px;
	position:absolute;
	padding:5px;
	top:5px;
	left:130px;
	background-color:#c8e3f1;
	border:1px solid #378cc5;
	cursor:auto;
}
#send2Friend_title{
	display:none;
}
.send2Friend_input{
	border:1px solid #378cc5;
	background-color:#FFFFFF;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color: #378cc5;
	padding:3px;
	width:180px;
}
.send2Friend_submit{
	border:1px solid #378cc5;
	background-color:#e2e2e2;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	padding:3px;
}
/*send to friend end*/