input,select,textarea{
	font-family:Tahoma;
	font-size:11px;
	border:1px solid #999999;
	background-color:#e2e2e2;
	font-weight:bold;
	color:#333333;
	padding:3px;
}.button{
	background-image:url(../images/content_title_bg.jpg);
	background-repeat:repeat-x;
	color:#333333;
	border:1px solid #999999;
	padding-left:15px;
	padding-right:15px;
	padding-bottom:3px;
	padding-top:3px;
	font-size:11px;
	font-weight:bold;
}#query_result{
	border: 1px solid #DDDDDD;
	background:#f5f5f5;
	font-weight:bold;
	padding:5px;
	color:#f7941c;
	margin-bottom:12px;
	margin-top:12px;
	text-align:center;
}.error_red{
	background-color:#FF0000;
	border:1px solid #FFFF00;
	color:#FFFFFF;
	font-weight:bold;
}